<h1>LYRICS</h1>

<img src="{{songs.header_image_thumbnail_url}}" alt="">
{{{songs.embed_content}}}

<<<<<<< HEAD
{{!-- <audio controls src="{{songs.apple_music_player_url}}"></audio>
<iframe controls src="{{songs.apple_music_player_url}}" frameborder="0"></iframe> --}}


<audio controls>
  <source src="{{songs.apple_music_player_url}}">
</audio>

<iframe src="http://www.youtube.com/watch?v=DoIHZXoxAhU" frameborder="0"></iframe>
=======
>>>>>>> 724898372e2606f1b118540257e5e692d7bb7771
