<h1>LYRICS</h1>

<div>
<img src="{{songs.header_image_url}}" alt="Header">
</div>
<div>
<div>{{{songs.embed_content}}}</div>
</div>


<label for="">Views: {{songs.stats.pageviews}}</label>

<a href="{{songs.media.0.url}}">
<img border="0" alt="Play on youtube" src="../images/ListenOnYouTube copy.png">
</a>

<a href="{{songs.media.1.url}}">
<img border="0" alt="Play on spotify" src="../images/Spotify.png">
</a>