


{{!-- FALTAAAAAAAAAAAA ulnessar ----------------------------------------------------  --}}

{{!-- {{#unless songs}}

  <ul>
    {{each result.full_title}}
    <li>
       {{history}}
       History
    </li>
    {{/each}}
    </ul>

{{/unless}} --}}


<div id="search-result-container">
{{#each songs}}

<div class="card" style="width: 20rem;">
  <img src="{{result.header_image_thumbnail_url}}" class="card-img-top" alt="album_cover">
  <div class="card-body">
    <h5 class="card-title">{{result.full_title}}</h5>
    <p class="card-text">Searched: {{result.stats.pageviews}} times</p>
    <a href="/lyrics-result/{{result.id}}" class="btn btn-primary">View Lyrics</a>
  </div>
</div>
{{/each}}
</div>

{{#if user}}
<div id="homepage">
  <div id="search-homepage">
    <form action="/songs-search" method="POST">
      <input id="search-bar" type="text" name="artist" value="Search your lyrics">
      <div>
        <button type="submit" class="btn btn-danger">Search Songs</button>
      </div>
    </form>
  </div>
</div>

{{else}}
  <a href="/login">Login</a>
{{/if}}
